autostart/
bilibili-tui/
chromium/
dconf/
fcitx5/
go-musicfox/
gtk-3.0/
gtk-4.0/
ibus/
menus/
millennium/
mozzille/
mpv/
nautilus/
nwg-look/
nekobox/
opencode/
pulse/
xsettingsd/
yay/
zen/
mimeapps.list
QtProject.conf
user-dirs.dirs
user-dirs.locale
