layout {
	background-color "transparent"

    focus-ring {
        active-color "#acc7ff"
        inactive-color "#8e9099"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#acc7ff"
        inactive-color "#8e9099"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#acc7ff"
        inactive-color "#8e9099"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#acc7ff80"
    }
}

overview {
	backdrop-color "transparent"
}

recent-windows {
    highlight {
        active-color "#acc7ff"
        urgent-color "#ffb4ab"
    }
}
